#v3d-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0;
}
.v3d-simple-preloader-background {
  background-color: black;
}
.v3d-simple-preloader-bar {
    background: black;

}
.v3d-simple-preloader-logo {
    background-image: url("media/nocap110px.png");
    background-size: cover;
}
.track-list {
    position: fixed;
    overflow: hidden;
    bottom: 0px;
    width: 110%;
    font-family: 'Russo One', sans-serif;
    padding-top: 5px;
    font-size: 36px;
    font-weight: bold;
    color: white;
    background-color: black;
    transform: translate(-5%, 0%);


}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: absolute;
  left: 50%;
  top: 90%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-bottom: 40px;
}

/* Style the icon bar links */
.icon-bar a {
  display: inline;
  text-align: center;
  padding: 8px;
  border-style: solid;
  border-color: black;
  border-radius: 50%;
  border-width: thick;
  transition: all 0.3s ease;
  color: black;
  font-size: 30px;
}

@media only screen and (max-width: 480px) {
  .icon-bar {
    position: fixed;
    display: inline-grid;
    top: 50%;
    left: 10%;

 }

 .icon-bar a {
   font-size: 20px;
 }
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
  color: white;
}

.facebook {
  background: #3B5998;
  color: white;
}
.twitter {
  background: #55ACEE;
  color: white;
}
.spotify {
  background: #1DB954;
  color: black;
}
.youtube {
  background: #bb0000;
  color: white;
}
